.Button{
    width: 120px;
    height: 25px;
    background: linear-gradient(#3a3a3a 50%, white 50%);
    background-size: 100% 200%;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    outline: none;
    border: 1px solid rgb(58, 58, 58);
    transition: all .3s;
}
.Button:hover{
    background-position: 0 100%;
    color: #3a3a3a;
    transition: all .3s;
}
.Button:active{
    transition: all .3s;
    box-shadow:inset 0 0 2px 20px #3a3a3a;
    color: white;
}
