.MessagesText{
    display: grid;
    border-radius: 2px;
    background: rgba(58, 58, 58, 0.32);
    outline: none;
    width: 100%;
    max-width: 1200px;
    min-width: 500px;
    height: 50px;
    font-size: 16px;
    padding-left: 5px;
    resize: none;
}

.MessagesText::-webkit-scrollbar { width: 3px; height: 3px;}
.MessagesText::-webkit-scrollbar-button {  background-color: #666; }
.MessagesText::-webkit-scrollbar-track {  background-color: #999;}
.MessagesText::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.MessagesText::-webkit-scrollbar-thumb { height: 5px; background-color: #666; border-radius: 3px;}
.MessagesText::-webkit-scrollbar-corner { background-color: #999;}
.MessagesText::-webkit-resizer { background-color: #666;}

.Btn{
    margin-top: 5px;
    display: block;
    border: 1px solid #3a3a3a;
    margin-bottom: 10px;
    width: 150px;
}